<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488313017078-fcsef3d4qrb675mgvarv1ujd31oub74r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488313017078-fcsef3d4qrb675mgvarv1ujd31oub74r</string>
	<key>API_KEY</key>
	<string>AIzaSyAWXJ2KgG47Zmz-q91JSngWKBSrLupcII0</string>
	<key>GCM_SENDER_ID</key>
	<string>488313017078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.clarityvalley</string>
	<key>PROJECT_ID</key>
	<string>clarity-valley</string>
	<key>STORAGE_BUCKET</key>
	<string>clarity-valley.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488313017078:ios:2b32caf1eb35adb43592d7</string>
</dict>
</plist>